/* ShareThis Buttons */
#share-this {
  margin: 40px 0 40px 0;
}

/* Pagination */
nav.pagination {
  padding: 30px 0 50px 0;
  display: block;
  clear: both;
}
nav.pagination span.previous {
  float:left;
  padding: 20px 0 20px 0;
  max-width: 300px;
}
nav.pagination span.next {
  float:right;
  padding: 20px 0 20px 0;
  max-width: 300px;
}
nav.pagination a {
  color: #29abe2;
}
