/* ShareThis Buttons */
#share-this {
  margin: 40px 0 40px 0;
}

/* Pagination */
nav.pagination {
  padding: 20pt 0 30pt 0;
}
nav.pagination span.previous {
  float:left;
  padding: 10pt 0 10pt 0;
  max-width:300pt;
}
nav.pagination span.next {
  float:right;
  padding: 10pt 0 10pt 0;
  max-width:300pt;
}
nav.pagination a {
  color: #29abe2;
}
